
.checkeable label {
	display: inline-block;
	margin-bottom: .5rem;
}


.checkeable {text-align: center;}
.checkeable img {width: 100px; padding: 6px;}
.checkeable input {display: none;}
.checkeable input:checked + img {background-color: rgba(220, 53, 69,.4); border-radius: 1rem;}